/* style.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#container {
    display: flex;
    flex: 1;
    overflow: hidden;
    background-color: #f0f8ff; /* Very light blue background */
}
.dropdown {
    width: 100%;
    padding: 10px;
    margin: 10px 10px;
}

/*------------ Files ------------*/
.file-viewer {
    flex: 0 0 25%; 
    display: flex;
    flex-direction: column;
    border-right: 1px solid #dee2e6; 
}
.file-viewer > span { 
    margin-left: 10px;
}
.file-viewer:last-child {
    border-right: none;
}
.file-item {
    cursor: pointer;
    padding: 5px 10px;
}
.file-item:hover {
    background-color: #e9ecef;
}
#file-system {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
}
#file-system div {
    color: #6c757d;
}
#folder-path { 
    margin: 10px 10px; 
}

/*------------ Chat ------------*/

.chat-interface {
    flex: 0 0 75%; 
    display: flex;
    flex-direction: column;
}
#chat-response {
    max-height: 90%;
}
#chat-response {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
}
#user-input {
    width: calc(100% - 20px);
    margin: 10px;
    padding: 10px;
    height: 200px;
    box-sizing: border-box;
    background-color: #ffffff; 
}
button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}
.spinner-icon {
    border: 4px solid rgba(0,0,0,.1);
    border-radius: 50%;
    border-top-color: #007bff;
    animation: spin 1s infinite linear;
    width: 20px;
    height: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}