<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code with GPT</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
</head>
<body>
    <div id="container" class="d-flex">
        <div class="left-interface">
            <span>Model ID:</span>
            <select class="form-select mb-3" id="model-selector">
                {% for model in models %}
                <option value="{{ model.id }}" {% if model.id == current_model_choice %}selected{% endif %}>{{ model.id }}</option>
                {% endfor %}
            </select>

            <span>Folder Path:</span>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="folder-selector" value="{{ current_folder_path }}" aria-describedby="folder-selector-btn">
                <button class="btn btn-info" type="button" id="folder-selector-btn" onclick="fetchFiles()">Fetch</button>
            </div>

            <span>Files:</span>
            <div id="file-system">
                <!-- Files appear here -->
            </div>
            
            <div class="d-flex justify-content-between px-2">
                <button class="btn btn-secondary w-100 m-2" onclick="unselectAllFiles()">Unselect All</button>
                <button class="btn btn-secondary w-100 m-2" onclick="selectAllFiles()">Select All</button>
            </div>
            <button class="btn btn-secondary mx-3 my-2" id="copy-file-contents" onclick="copyFileContentsAsPrompt()" disabled>Copy Selected Files as Prompt</button>
            <button class="btn btn-secondary mx-3 my-2" id="edit-gptignore" onclick="openGptIgnoreModal(edit=true)" disabled>Edit .gptignore File</button>
            <button class="btn btn-warning mx-3 mt-2 mb-3" onclick="resetSettings()">Reset Settings (Will Reload Page)</button>
        </div>        
        <div class="right-interface">
            <div id="chat-response">
                <!-- Chat responses appear here -->
            </div>
            <textarea id="user-input" class="form-control m-3 mb-0" placeholder="Type your question here. If files are selected they will be automatically added to the query."></textarea>
            <button id="send-button" class="btn btn-primary m-3" onclick="sendChat()" disabled>Send (ctrl+enter)</button>
        </div>
    </div>
    <!-- Edit .gptignore modal -->
    <div class="modal fade" id="gptignoreModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit .gptignore File</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <textarea id="gptignoreContents" class="form-control" rows="10"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="saveGptIgnore()">Save</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script src="/static/js/script.js"></script>
    <script>
        feather.replace(); // Initialize Feather icons
    </script>
</body>
</html>
